#page-edit-isu {
  background-color: #F1F1F1;
  padding: 1.5em;
}

#page-edit-isu h1,
#page-edit-isu h2,
#page-edit-isu h3,
#page-edit-isu h4,
#page-edit-isu h5,
#page-edit-isu h6 {
  font-family: Sans-serif !important;
  font-size: 37px !important;
  font-weight: 600 !important;
  line-height: 1em !important;
  color: #706F6F !important;
}

#page-edit-isu p, #page-edit-isu table, #page-edit-isu td, #page-edit-isu tr {
  font-family: Sans-serif !important;
  font-size: 17px !important;
  color: #4D4D4D !important;
  font-weight: 600 !important;
}

#page-edit-isu table {
  width: 95%;
  margin: 0 auto;
}

#page-edit-isu table td, #page-edit-isu table tr {
  text-align: center;
}

#page-edit-isu table td img, #page-edit-isu table tr img {
  width: 250px;
  height: 250px;
}
